body 
    box-sizing: border-box
    perspective: 4000px
    position: relative

*
    font-family: 'Roboto', sans-serif;
    padding: 0
    margin: 0

@keyframes refresh
  0%
    transform: rotate(0deg)
  25%
    transform: rotata(90deg)  
  50%
    transform: rotate(180deg)
  75%
    transform: rotate(270deg)
  100%
    transform: rotate(360deg)


@import "modules/gitwidget";